body{
    font-family: 'Montserrat', sans-serif;
}
.content{
    width: 1366px;
    margin: 0 auto;
    min-height: 100%;
}
.slaider{
    position: relative;
    height: 800px;
    background-image: url(../img/slider-img.jpg);
}
.padding-site{
    padding: 0 98px;
}
.header{
    padding-top: 63px;
}
.logotype{
    margin-top: 63px;
}
.menu{
    float: right;
}
.menu-list{
    list-style-type: none;
    float: left;
    padding: 0px 13px;
}
.menu-link{
    text-decoration: none;
    list-style-type: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.menu-link:hover{
    border-bottom:1px solid #212121;
}
.menu-link-active{
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}
.menu-link-active:hover{
    border-bottom: 3px solid #212121;
}
.lupa:hover{
    border:none;
}
.text-slaider{
    margin-top: 238px;
}
.text-tranding{
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.text-h2 h2{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}
.text-description{
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 21px;
    margin-bottom: 21px;
    line-height: 24px;
}
.order-us{
    width: 212px;
    height: 45px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    border:none;
    background-color: #ffffff;
    text-align: center;
    letter-spacing: 3.6px;
    cursor: pointer;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 173px;
}
.order-us:hover{
    background-color: rgba(33, 33, 33, 0.85);
    color: white;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}
.order-us:focus{
    outline: none;
    -webkit-box-shadow: 0 2px 5px 1px rgba(2, 133, 255, 0.35);
            box-shadow: 0 2px 5px 1px rgba(2, 133, 255, 0.35);
}

.paginations{
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}
.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
}
.circle:hover{
    background-color: #757575;
}
.circle-active{
    margin-bottom: -5px;
    width: 40px;
    height: 40px;
    background-color: #212121;
}
.circle-active:hover{
    background-color: #212121;
}
.featured{
    padding-top: 120px;
    padding-bottom: 120px;
    line-height: 27px;
}
.text-title{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    color: #6c6c6c;
    border-bottom: 2px solid #6c6c6c;
    height: 32px;
    display: inline-block;
}
.text-title-active{
    color: #212121;
    border-bottom: 3px solid #212121;
}
.explore-all{
    float: right;
    width: 158px;
    height: 13px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.explore-all a{
    text-decoration: none;
    color: #212121;
    line-height: 35px;
}

.explorer-list{
    position: relative;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.explorer-list a{
    text-decoration: none;
}

.explorer-list-hover{
    position: relative;
    z-index: 20;
}

.explorer-list-text{
    width: 270px;
    margin-top: -220px;
    text-align: center;
}
.exp-title{
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    padding-top: 19px;
}
.exp-text{
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 300;
    width: 206px;
    display: inline-block;
    padding-top: 23px;
    line-height: 21.91px;
}
.exp-arrow{
    margin-top: 15px;
}

.circle-explorer-list{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
                box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.explorer-list img:hover{
    opacity: 0;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}

.exclusive{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.exclusive-block{
    width: 683px;
    height: 683px;
}
.ex-block1{
    background-image: url(../img/Exclusive-1.jpg);
}
.ex-block2{
    background-image: url(../img/Exclusive-2.jpg);
}
.exclive-text{
    margin-left: 50px;
}
.exclusive-title{
    margin-top: 228px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;  
}
.exclusive-h2{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.exclusive-description{
    width: 374px;
    height: 36px;
    padding: 34px 0;
    font-weight: 300;
    color: #6c6c6c;
    font-size: 14px;
    line-height: 24.04px;
}
.trending-products{
    padding-top: 120px;
}
.trending-products{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 34px;
}
.explore-trending{
    line-height: 44px;
}
.trending-products-img{
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hot-deal{
    position: relative;
    background-image: url(../img/slider-b5.jpg);
    height: 800px;
}
.hot{
    color: #e53935;
    padding-top: 287px;
}
.exclusive-two {
    margin-top: 120px;
}

.exclusive-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    padding-bottom: 30px;
}
.exclusive-img a{
    padding-right: 30px;
}
.info-exclusive{
    background-image: url(../img/exclusive-20.jpg);
    width: 570px;
    height: 570px;
    float: left;
}
.info-exclusive > .text-slaider{
    margin-top: 186px;
    margin-left: 31px;
}
.info-exclusive > .text-slaider > .exclusive-title{
    margin-top: 0;
}
.text-h2-ext h2{
    font-size:36px;
}
.ext{
    width: 332px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}
.m-app{
    background-image: url(../img/back-app.jpg);
    height: 516px;
    margin-top: 120px;
}
.text-app-bold p{
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.h2-app{
    width: 407px;
}
.h2-app h2{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 72px;
    letter-spacing: -5px;
}
.text-app-bold{
    padding-top: 125px;
}
.text-app p{
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
}
.img-app{
    padding-top: 33px;
}

.footer{
    margin-top:120px;
}

.contact-us{
    float: left;
}

.title-contact-us{
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-bottom: 23px;
}
.desc-contact p{
    width: 221px;
    height: 51px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}
.useful{
    float: left;
    padding-left: 80px;
}
.text-useful {
    float: left;
}
.text-useful a{
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.useful1{
    width: 132px;
    height: 63px;
    padding-right: 102px;
}
.useful2{
    width: 187px;
    height: 63px;
}
.lets-stay{
    padding-left: 78px;
    float: left;
}
.text-lets-stay{
    width: 370px;
    display: inline-block;
}
.text-lets-stay p{
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}
.input-email{
    padding-top: 26px;
    position: relative;
}
.input-email input[type="email"]{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 347px;
    height: 48px;
    padding-left: 19px;
}
.teleg{
    position: absolute;
    width: 21px;
    height: 17px;
    margin-top: -35px;
    margin-left: 335px;
}
.copy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 30px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.links a{
    font-size: 28px;
    color: #6c6c6c;
    letter-spacing: 5.6px;
}
.fa{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.fa-facebook:hover{
    color:#3b5998;
}
.fa-twitter:hover{
    color:#1da1f2;
}
.fa-google-plus:hover{
    color:#DD4B39;
}
.fa-pinterest:hover{
    color:#e60023;
}
.terms{
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
/* contact us html */

.h1-text{
    padding-top: 171px;
}
.text-CU{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
}
.main-CU{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.card-CU{
    width: 370px;
    height: 370px;
    outline: 1px solid #9c9c9c;
    opacity: 0.9;
    text-align: center;
}
.icon-CU{
    padding-top: 48px;
    padding-bottom: 34px;
}
.geo-CU{
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.detalis-CU{
    width: 271px;
    height: 138px;
    display: inline-block;
}
.title{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
}
.inform-CU{
    font-weight: 700;
    color: #212121;
    padding-bottom: 20px;
}
/* Our Products Range */

.h1-oPR{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    padding-top: 168px;
}
.opr-menu-list a{
    text-decoration: none;
    color: #6c6c6c;
    padding-left: 6px;
}
.opr-menu-list li{
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-right: 14px;
    padding-top: 115px;
}
.opr-menu-active{
    color: #212121!important;
}
.opr-products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
}
.opr-menu-list-border li{
    padding-top: 0;
    border-bottom: 1px solid #6c6c6c;
    margin-left: -4px;
    width: 50px;
}
.opr-menu-list-border-active{
    border-bottom: 3px solid #212121 !important;
}

/* product info styles */

.styleNav{
    display: flex;
    justify-content: center;
    padding-top: 57px;
}
.styleNav ul{
    display: flex;
    width: 647px;
    justify-content: space-between;
    list-style-type: none;
}
.styleNav li{
    float: left;
    justify-content: space-between;
}
.styleNav a{
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.styleNav a:hover{
    border-bottom: 2px solid #212121;
}
a.nav-active{
    color: #212121;
    border-bottom: 2px solid #212121;
}

.fullDescription{
    padding-top: 100px;
    display: flex;
}
.slide ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.slide ul > li > img{
    padding: 10px;
    width: 74px!important;
    height: 74px!important;
}
.slide-active{
    opacity: 0.5;
}
.fullDescription img:first-child{
    width: 570px;
    height: 570px;
}
.descriptions-product{
    text-align: center;
}
.descriptions-product h2{
    margin-top: 47px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.descriptions-product h3{
    margin-top: 23px;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
@font-face {

    font-family: Gotham-Light;
    
    src: url(../fonts/Gotham-Light.otf); 
    
    }
.descriptions-product .price{
    margin-top: 36px;
    line-height: 1;
    font-size: 72px;
    text-transform: uppercase;
    color: #212121;
    font-family: Gotham-Light;
}
.descriptions-product span:first-child{
    font-size: 48px!important;
}
.descriptions-product span:last-child{
    font-size: 36px!important;
}
.btn-hov{
    position: relative;
    margin-top: 31px;
    margin-bottom: 39px;
}
.btn-hov .bt img{
    position: absolute;
    margin-top: 23px;
    margin-left: -175px;
    opacity: 0;
}
.btn-hov .bt:hover img{
    transition: .5s;
    opacity: 1;
}
.descriptions-product input{
    width: 510px;
    height: 71px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    border: none;
}
.descriptions-product input:focus{
    outline: none;
    border: none;
}
.descriptions-product input:active{
    box-shadow: none;
}
.descriptions-product .text p{
    text-align: start;
    padding-top: 15px;
    font-family: Gotham-Light;
    line-height: 24.01px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
}
.related-prod-padding{
    padding-top: 245px;
}